# .gitignore na raiz (./rehab_ai/.gitignore)

# Configurações JetBrains (IntelliJ)
.idea/
*.iml

# Builds
target/
build/

# Logs
*.log

.env

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
# such as passwords, private keys, and other secrets.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally
# and so are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan files
*.tfplan